[Unit]
Description=uWSGI Emperor Service
After = network.target

[Service]
User = usuario
Group = nginx
ExecStartPre = /home/usuario/librarysite/uwsgi/startpre.sh
ExecStart    = /home/usuario/librarysite/uwsgi/start.sh
ExecStop     = /home/usuario/librarysite/uwsgi/stop.sh
Restart = always
KillSignal = SIGQUIT
Type = notify
NotifyAccess = all

[Install]
WantedBy = multi-user.target
